
p{
    margin : 0;
}
.phpCoding{

    width: 900px;
    margin: 0 auto;
    background-color: #FAFBFC;
}
.headerPart{
    background-color: #23B5DE;
    color: #fff;
    text-align: center ;
    padding: 20px;

}
.mainContent{
    min-height: 400px;
    padding: 20px;
}
.footerPart{
    background-color: #23B5DE;
    color: #fff;
    text-align: center ;
    padding: 20px;
}
.headerPart h2, .footerPart h2{
    margin: 0;
}
#myform{
    width: 400px;
    border : 1px solid #fff;
    padding : 10px;
}
.tbOne{
    width: 100%;
    border: 1px solid #23B5DE;
    margin: 20px 0px;
}
.tbOne td{
    padding: 5px 10px;
    text-align: center;
}
table.tbOne tr:nth-child(2n+1){
    background: #fff;
    height: 30px;
}
table.tbOne tr:nth-child(2n){
    background: #f1f1f1;
    height: 30px;
}
